/* QuizPage.css */

/* Add padding to the .quiz container */
.quiz {
  padding: 20px; /* Adjust the value as needed */
}

/* Add padding or margin to the .notes container */
.notes {
  padding: 15px; /* Adjust the value as needed */
  background-color: #f9f9f9; /* Optional: Add background color */
  border-radius: 8px; /* Optional: Add rounded corners */
}

/* Optionally, add padding or margin to the .progress-bar-container */
.progress-bar-container {
  padding: 10px 0; /* Adjust the value as needed */
  margin-bottom: 20px; /* Space below the progress bar */
}

/* Style the quiz buttons */
.quiz-btn {
  padding: 10px 15px; /* Adjust the padding */
  margin-bottom: 10px; /* Space between quiz buttons */
}

/* Style the modal content */
.modal-content {
  padding: 20px; /* Add padding inside the modal */
}

/* Other necessary styles */
ul {
  padding-left: 20px; /* Indent the list items slightly */
}

.question-block {
  margin-bottom: 20px; /* Add space between questions */
}

.option {
  margin-bottom: 5px; /* Add space between options */
}





.correct {
  color: green;
  font-weight: bold;
}

.incorrect {
  color: red;
  font-weight: bold;
}

.feedback {
  display: block;
  margin-top: 5px;
}

.progress-bar-container {
  width: 100%;
  background-color: #e0e0df;
  border-radius: 25px;
  padding: 3px;
  margin: 20px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}


.progress-bar {
  height: 30px;
  width: 0;
  background-color: #0fb7c4;
  border-radius: 25px;
  text-align: center;
  line-height: 30px;
  color: black;
  font-weight: bold;
  transition: width 0.4s ease-in-out;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content button {
  margin-top: 20px;
}



.styled-heading {
  font-weight: bold;
  font-size: 1.5em; /* Adjust the font size as needed */
  color: #2c5494; /* Change the color if desired */
}

.styled-subheading {
  font-weight: bold;
  color: #2c5494; /* Example color for subheadings */
  
}

.styled-topics {
  font-weight: bold;
  font-size: 1.5em; /* Adjust the font size as needed */
  color: black; /* Change the color if desired */
}





.image-style-0 {
  display: block;
  margin: 0 auto;
  width: 600px;
  height: auto;
}

.image-style-1 {
  display: block;
  margin: 0 auto;
  width: 600px;
  height: auto;
}

.image-style-2 {
  width: 400px;
  height: auto;
}

.image-style-3 {
  width: 300px;
  height: auto;
  margin: 0 auto;
}

.image-style-4 {
  display: block;
  margin: 0 auto;
  width: 600px;
  height: auto;
}

.image-style-5 {
  display: block;
  margin: 0 auto;
  width: 400px;
  height: auto;
}

.image-style-6 {
  display: block;
  margin: 0 auto;
  width: 400px;
  height: auto;
}

.image-style-7 {
  display: block;
  margin: 0 auto;
  width: 400px;
  height: auto;
}

.image-style-8 {
  display: block;
 
  width: 200px;
  height: auto;
}


/* Mobile styles */
@media (max-width: 600px) {
  .content-image {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
  }
}

/* Add more styles as needed */

